.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.sticky {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  z-index: 10;
  float: right;
  width: 15em;
  height: 10em;
  margin-top: 400px;

}

.ol-md-5 order-md-1{
  float: left;

}

audio {
  margin-right: 10px;
}

.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  margin-left: 15em;
  margin-bottom: 14.5em;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.pics {
  border: 2px solid;
}

#testTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 200px;
  font-size: 50px;
  text-decoration: underline;
}

#logo {
  width: 4em;
  height: 4em;
  
  border: solid black;
  position: relative;
  margin-bottom: 30px;

}

#logo:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
  margin-left: 100px;
  margin-top: 200px;
 
}



nav {
  height: 75px;
  
}

.nav-item{
  padding-top: 40px;
}

#myCarousel{
  margin-top: 30px;
  
}

.navbar2{
  position: relative;

}